In [9]:

import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import load_model
from tensorflow import keras
import tarfile


from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
print(tf.__version__)

1.13.1

In [10]:
path = "/content/drive/My Drive/comp5329assignment2/"
model = load_model(path+"my_model.h5")

WARNING:tensorflow:Error in loading the saved optimizer state. As a result, your model is starting with a freshly initialized optimizer.

In [11]:
tar = tarfile.open(path+"test.tar.gz")

names = tar.getnames()
for name in names:
    tar.extract(name, path = "/content/test_data/")
tar.close()
names = names[1:]
test_files_name = []
for n in names:
    test_files_name.append(n[8:])
    
# 15516
len(test_files_name)

15516

In [12]:
image_size = 224
test_df = pd.DataFrame(test_files_name,columns = ['test_filenames'])
validation_datagen = keras.preprocessing.image.ImageDataGenerator(rescale = 1./255)
test_dir = "/content/test_data/val2014"
test_generator = validation_datagen.flow_from_dataframe(
    dataframe = test_df,
    directory = test_dir,
    x_col = 'test_filenames',
    batch_size = 32,
    seed = 42,
    shuffle = False,
    class_mode = None,
    target_size = (image_size, image_size)
    )
test_generator.reset()

y_pre_cat = model.predict_generator( test_generator, verbose=1 )
y_pred = np.argmax(y_pre_cat, axis=1)

assert(y_pred.shape[0] == 15516)

test_file = np.array(test_files_name)
labels_arr = np.append(test_file.reshape(-1,1),y_pred.reshape(-1,1), axis = 1)

Found 15516 images.
485/485 [==============================] - 138s 285ms/step

In [0]:
# pd.DataFrame(labels_arr).to_csv("/content/drive/My Drive/comp5329assignment2/Prediected_labels.txt", header=None, index=None, sep='\t')
labels = pd.DataFrame(labels_arr)

In [14]:
labels[0:10]

       0   1
0  0.jpg   2
1  1.jpg   7
2  2.jpg   6
3  3.jpg   7
4  4.jpg   6
5  5.jpg  16
6  6.jpg   3
7  7.jpg   8
8  8.jpg   3
9  9.jpg   9